/* fondz.css */

header {
  margin-bottom: 20px;
}

nav h1 {
    color: blue;
}

nav {
    padding-left: 10px;
}

#summary {
    border: thin solid #dddddd;
    background-color: #eeeeee;
    padding: 10px;
    margin-bottom: 20px;
}

#summary p {
    font-size: larger;
}

.topic {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.4em;
}

.topic-words {
    font-size: 14pt;
    padding: 10px;
    color: black;
    background-color: #f0ffff;
}

.topic-word {
    padding: 4px;
}

.topic-files {
}

.topic-count {
    font-size: 20pt;
    font-weight: bold;
    vertical-align: middle;
    line-height: 2em;
}

.topic-count a {
    color: black;
}

#content {
    margin: 30px;
}
