{% extends "base.html" %}

{% block title %}{{ fondz.name }} - Summary{% endblock %}

{% block content %}

<section id="summary" class="row">
  <p>
  Below is a list of the bags that are part of this collection. Click on 
  one of them to see details about the bag.
  </p>
</section>

<section class="bags row">
  <table class="large-12">
    <tr>
      <th>Path</th>
      <th class="text-right">Files</th>
      <th class="text-right">Size</th>
    </tr>
    {% for bag in fondz.bags %}
    <tr>
      <td><a href="{{ 'bag-%05i.html' % loop.index }}">{{ bag.path }}</a></td>
      <td class="text-right">{{ humanize.intcomma(bag.manifest|count) }}</td>
      <td class="text-right">{{ humanize.naturalsize(bag.bytes) }}</td>
    </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}
