{% extends "base.html" %}

{% block title %}{{ fondz.name }} - Topics{% endblock %}

{% block content %}

<section id="summary" class="row">
<p>Below is a list of topic keywords that were extracted using the 
<a href="http://mallet.cs.umass.edu/">Mallet</a>
topic modeling software. Click on the topic to see a list of 
files associated with it. You may want to add summary headings to 
each collection of words.
</p>
</section>

{% for topic in fondz.topic_model.topics %}
<section class="topic row">

  <a href="{{ 'topic-%02i.html' % loop.index }}">
    <div class="topic-words text-center">
      {% for word in topic.words %}
      <span class="topic-word">{{ word }}</span>
      {% endfor %}
    </div>
  </a>

</section>
{% endfor %}

{% endblock %}
